html,body{background-color: black;
}
h1{font: size 16px;
    color:red;
    font-family: Georgia, monospace;}
.or{font: size 16px;
    color:orange;
    font-family: Verdana, monospace;}
.ye{font: size 16px;
    color:yellow;
    font-family: Geneva, monospace;}
.gr{font: size 16px;
    color:yellowgreen;
    font-family: Tahoma, monospace;}
.lbl{font: size 16px;
    color:lightskyblue;
    font-family: sans-serif, monospace;}
.bl{font: size 16px;
    color: blue;
    font-family: 'Trebuchet MS', monospace;}
.pu{font: size 16px;
    color:palevioletred;
    font-family:  'Lucida Sans Unicode', monospace;}
#
''''''
<!-- -->
/* 
h1:hover{
        color: chocolate;
        font-size: large;
    }    */


//текс   